<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <a [routerLink]="['/shops']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goToNearbyShops()">
            Nearby Shops
        </a>
        <a [routerLink]="['/shops','pref']"  routerLinkActive="active" (click)="goToPreferredShops()">
            My Preferred Shops
        </a>
        <a id="logout" (click)="logout()">
            Logout
        </a>
    </header>

    <section *ngIf="currentPage=='pref';else other_content">
        <div class="card-container" *ngFor="let shop of preferredShops">
            <div class="shop-title"><p>{{shop.shopName}}</p></div>
            <img [src]="shop.imageUrl" alt="shop-image">
            <div class="like-dislike">
                <input type="button" name="remove" id="remove" value="Remove" (click)="removeFromPreferred(shop._id)">                
            </div>
        </div>
    </section>

    <ng-template #other_content>
        <section>
            <div class="card-container" *ngFor="let shop of nearbyShops">
                <div class="shop-title"><p>{{shop.shopName}}</p></div>
                <img [src]="shop.imageUrl" alt="shop-image">
                <div class="like-dislike">
                    <input type="button" name="dislike" id="dislike" value="Dislike" (click)="dislikeShop(shop._id)">
                    <input type="button" name="like" id="like" value="Like" (click)="likeShop(shop._id)">
                </div>
            </div>
        </section>
    </ng-template>
</body>
</html>